body {
    background-color: #EFF6FF;
    padding: 50px;
}

.main-block {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    background-color: #0b2e13;
}

.left-section {
    max-width: 63%;
    background-color: #1e58d6;
}

.right-section {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    flex-direction: column;
    background-color: #1d9d4a;
}